.header ul {
    list-style: none;
    padding-top: 7%;
    display: flex;
    justify-content: center;
}

.header li {
    padding: 0 15px;
    border-bottom-style: dotted;
    border-bottom-width: thick;
    border-bottom-color: red;
}

a {
    text-decoration : none;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #212529;
}