
.flex {
    display: flex;
    justify-content: center;
}

img {
    height: 15rem;
    /* width: 15rem; */
    padding: 0.7rem;
    border: 5px dashed rgb(76, 167, 188);
    
}

button {
    color: white;
    display: block;
    margin-top: 7px;
    width: 17rem;
    height: 2rem;
    border-radius: 4px;
    background: rgb(76, 167, 188);
    cursor: pointer;
    border: none;
}

.section-img {
    margin-right: 60px;
}